.todoForm {
  display: flex;
  min-width: 30em;
  padding: 10px;
  margin: 16px 0px 8px 0px;
  box-sizing: border-box;
  border: 1px solid #666666;
  border-radius: 10px;
}

.todoForm input {
  background-color: transparent;
  border: 0;
  padding: 4px;
  outline: none;
  flex: 1;
  color: #ccc;
}

.todoForm button#addButton {
  background-color: greenyellow;
  border: 1px solid #666666;
  padding: 4px;
  border-radius: 4px;
}
