body {
  background-color: #333333;
}

.header {
  text-align: center;
}

main {
  margin: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: azure;
  display: flex;
  align-items: center;
  justify-content: center;
}
